body{
    color:blue;
    }

td{
    color:Green;
    }
a:link {text-decoration: none; color: none;}
a:visited {text-decoration: none; color: none;}
a:active {text-decoration: none; color: none;}
a:hover {text-decoration: underline; color: Red;}