body{
    color:blue;
    word-break:break-all;
    }

td{
    color:Green;
    }
a:link {text-decoration: none; color: darkgreen;}
a:visited {text-decoration: none; color: darkgreen;}
a:active {text-decoration: none; color: darkgreen;}
a:hover {text-decoration: underline; color: darkgreen;}